:root {
  --primary-colors-dark-blue: #292c3c;
  --primary-colors-white: #ffffff;
  --primary-colors-vapor-2: #d1dee3;
  --Grey: #868998;
  --primary-colors-vapor-3-off-white: #ecf4f6;
}

@font-face {
  font-family: "Archivo";
  src: url(assets/font/static/Archivo-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.first-container {
  background-image: url("./assets/images/Hero-Visual.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.scroll-indicator {
  width: 10px;
  height: 100px;
  background-color: transparent;
  opacity: 0;
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
}

.top-nav {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-colors-white);
  text-transform: uppercase;
}

.logo {
  margin-left: 30px;
}

.button-book {
  margin-right: 30px;
  gap: 10px;
}
.button-book > button {
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Archivo";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1.2px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 28px;
  font-family: "Archivo";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1.2px;
}

.btn-menu {
  background-color: transparent;
  gap: 10px;
}

.btn-dropdown-menu {
  display: flex;
  align-items: center;
}

.content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  color: var(--primary-colors-white);
}

.content-title {
  text-align: center;
  font-family: "Archivo";
  font-size: 63px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 111.111% */
  letter-spacing: -1.26px;
  display: flex;
  width: 710px;
  flex-direction: column;
  align-items: center;
}
.content-title > p {
  padding: 0 10%;
  margin: 0;
}

.btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-get-app {
  text-transform: uppercase;
  border: none;
  height: 48px;
  min-width: 120px;
  padding: 10px 25px;
  gap: 10px;
  background: linear-gradient(90deg, #ffad12 0%, #ffdd50 99.48%);
}

.second-container {
  margin-top: 210px;
}

.introduce-area {
  display: flex;
  padding: 0px 123px;
  align-items: flex-end;
  gap: 50px;
  align-self: stretch;
}

.introduce-container {
  display: flex;
  width: 617px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.introduce-title {
  color: var(--primary-colors-dark-blue);
  font-family: "Archivo";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 116% */
  letter-spacing: -1px;
  margin: 0;
}

.introduce-desc {
  color: var(--primary-colors-dark-blue);
  font-family: "Archivo";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.introduce-btn-area {
  padding: 35px 0 0 0;
}

.slider-container {
  display: flex;
  margin: 40px 0 210px 0;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  gap: 30px;
  overflow-x: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.img-slide {
  height: 715px;
  display: block;
  border-radius: 12px;
}

.prev-area {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  height: 715px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.next-area {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  height: 715px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.prev-btn button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: none;
}

.next-btn button {
  transform: rotate(180deg);
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border: none;
}

.explore-header p {
  margin: 0;
}

.logo-area {
  width: 33px;
  height: 45px;
}

.header-area {
  display: flex;
  justify-content: center;
}

.explore-header {
  display: flex;
  width: 525px;
  flex-direction: column;
  align-items: center;
}

.explore-header .title-explore {
  color: var(--primary-colors-dark-blue);
  text-align: center;
  font-family: "Archivo";
  font-size: 63px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 111.111% */
  letter-spacing: -1.26px;
  align-self: stretch;
  margin-bottom: 25px;
  margin-top: 40px;
}

.explore-header .explore-desc {
  color: var(--primary-colors-dark-blue);
  text-align: center;
  font-family: "Archivo";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  align-self: stretch;
}

.explore-content {
  width: 100%;
  align-items: center;
}

.explore-content .explore-menu {
  display: flex;
  gap: 0 10px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 35px;
}

.custom-button {
  display: flex;
  width: 312px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  color: var(--primary-colors-dark-blue);
  font-family: "Archivo";
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid var(--primary-colors-vapor-2);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.custom-button p {
  margin: 20px 50px;
}

.custom-button.active {
  background-color: var(--primary-colors-dark-blue);
  border-color: transparent;
  color: var(--primary-colors-white);
}

.explore-content .content-area {
  padding: 0 40px;
}
.explore-content .content-area .content-explore {
  height: 100%;
  width: 100%;
  background-color: var(--primary-colors-dark-blue);
  padding-bottom: 50px;
  border-radius: 12px;
  margin-bottom: 50px;
}

.explore-content .content-area .content-logo {
  width: 100%;
  height: 317px;
}

.explore-content .content-area .content-logo img {
  object-fit: fill;
  width: inherit;
  height: inherit;
  border-radius: 12px 12px 0px 0px;
}

.foundation-area {
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 743px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  padding: 0 90px;
}

.foundation-area .title-foundation {
  color: var(--Grey);
  margin: 0;
  font-family: "Archivo";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.foundation-area .desc-foundation {
  color: var(--primary-colors-white);
  font-family: "Archivo";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 161.111% */
}

.content-explore .module-area {
  margin: 0 93px 20px 93px;
}

.content-explore .module-area .title-module {
  margin: 0;
  margin-bottom: 20px;
  color: var(--Grey);
  font-family: Archivo;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.content-explore .module-area .module-content {
  display: flex;
  justify-content: start;
}

.content-explore .module-area .module-content .module-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 35px;
  width: 450px;
  border: 1px solid var(--Grey);
}

.content-explore .module-area .module-content .module-card .card-img {
  width: 450px;
  height: 450px;
  border-radius: 12px 12px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://s3-alpha-sig.figma.com/img/28dc/0674/552d70f77485dce5dfe89537985996e7?Expires=1696809600&Signature=TeAgTqb01AbaRFhD2ISWMgyQDN8Eh8PfkvxhO2RlbH11Xe-fk1zs99dyWq1SP5ThpiZnwzKkHH54mICMHEmPWNdaFE~vy3hQsKg4YsXWucRJdvygo5iCfg-Jr94Ot0yEn-1Ca6eemtt2DMrXwwCCB~jfXR87kSIfyv3eTQj4wDEwT-7v2x~rz8uQfujAjhJ5R3yHrXW7zJLikXaTWFXhnVbLTb8QVFmpnebmDtaKqFYjCMhAAZse0BXw05u5~wTI4qFlxD3c7U9Rye3IyKUWc-ySNtlkoptPeOJpLtEEaUsMKjGQeqOYwPFSMiavfYM27kBsFcnxIpSuYINci4gnwQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
}

.content-explore .module-area .module-content .module-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 45px 40px 45px;
}

.content-explore
  .module-area
  .module-content
  .module-card
  .card-content
  .card-title {
  color: var(--primary-colors-white, #fff);
  font-family: "Archivo";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
  letter-spacing: -0.26px;
}

.content-explore
  .module-area
  .module-content
  .module-card
  .card-content
  .card-desc {
  color: var(--primary-colors-white);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.third-container {
  margin-bottom: 210px;
}

.fourth-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 210px;
}

.fourth-container .header-area .explore-header {
  width: 600px;
}

.fourth-container .header-area .explore-header .title-explore {
  margin-bottom: 35px;
}

.fifth-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 250px;
}

.fifth-container .header-area .explore-header {
  width: 600px;
}

.fifth-container .header-area .explore-header .title-explore {
  color: var(--primary-colors-dark-blue);
  text-align: center;
  font-family: Archivo;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1px;
}

.fifth-container .img-slide-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.fifth-container .img-slide-area .img-container-left {
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: end;
  align-items: center;
}
.fifth-container .img-slide-area .img-container-left .img-side-left {
  width: 330px;
  margin-left: 3000px;
}

.fifth-container .img-slide-area .img-container-right {
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: start;
  align-items: center;
}
.fifth-container .img-slide-area .img-container-right .img-side-right {
  width: 300px;
  height: 324.074px;
}

.fifth-container .img-slide-area .img-container-center {
  display: flex;
  width: 500px;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.fifth-container .img-slide-area .img-container-left .img-side-left img {
  width: inherit;
  height: inherit;
  margin-left: 50px;
}

.fifth-container .img-slide-area .img-container-right .img-side-right img {
  width: inherit;
  height: inherit;
  flex-shrink: 0;
}

.fifth-container .img-slide-area .img-container-center .img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 650px;
  height: 401.923px;
}

.fifth-container .img-slide-area .img-center img {
  width: inherit;
  height: inherit;
  flex-shrink: 0;
}

.sixth-container {
  margin-bottom: 270px;
}

.sixth-container .header-area .explore-header {
  width: 600px;
}

.sixth-container .header-area .explore-header .title-explore {
  color: var(--primary-colors-dark-blue);
  text-align: center;
  font-family: Archivo;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1px;
}

.sixth-container .header-area .explore-header .explore-desc {
  color: var(--primary-colors-dark-blue);
  text-align: center;
  font-family: Archivo;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 35px;
}

.footer {
  background-color: var(--primary-colors-dark-blue);
  padding: 80px 124px 30px 124px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  gap: 156px;
  align-self: stretch;
  justify-content: space-between;
}

.footer-content .first-block {
  display: flex;
  width: 369px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer-content .first-block .contact-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.footer-content .first-block .contact-area .contact-title p {
  color: var(--primary-colors-white, #fff);
  font-family: "Archivo";
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 124.324% */
  letter-spacing: -0.74px;
  margin: 0;
}

.footer-content .first-block .contact-area .input-area {
  background-color: var(--primary-colors-dark-blue);
  display: flex;
  height: 40px;
  padding: 0px 8px 0px 12px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #868998;
}

.footer-content .first-block .contact-area .input-area input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  margin-right: 10px;
  color: var(--Grey);
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Archivo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.footer-content .first-block .contact-area .input-area input:focus {
  outline: none;
}

.social-area {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

.footer .second-block {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}

.footer .second-block .column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.column .list-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column .menu-block{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.column .list-menu .menu-title {
  font-family: "Archivo";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--Grey);
  padding-top: 10px;
}

.column .list-menu .menu-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column .list-menu .menu-item p {
  margin: 0;
  font-family: "Archivo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--primary-colors-vapor-3-off-white);
}

.banner-footer{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.banner-footer .banner-footer-label{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner-footer .banner-footer-label p{
    margin: 0;
    font-family: "Archivo";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--Grey);
}
